# Data Integration

Date: 13/05/2018

Version: 3.0

Environment: Python 3.6.0 and Anaconda 4.3.0 (64-bit)

Libraries used:
* pandas
* numpy 
* re 
* matplotlib.pyplot


## 1. Introduction
This project comprises the execution of different reformating methods applied to different varaibles in order to correctly integrate the datasets, after which a key was selected to remove duplicates. 

Tasks:
1. Importing libraries
2. Reading data in
3. Exploring and checking formats of each variabe in the imported data
4. Integration of data
5. Removing duplicates
6. Writing data back
7. Summary

More details for each task will be given in the following sections.

## 2. Libraries

In [1]:
#importing libraries; more libraries will be added later if needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

#code to show plots inline
%matplotlib inline

## 3. Importing Data

In [2]:
df1 = pd.read_csv('dataset1_solution.csv')
df1 = df1.drop('Unnamed: 0', axis=1)

In [3]:
df2 = pd.read_csv('dataset2_integration.csv')

## 4. CHecking Imported Data

In [4]:
df2

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292,2012-02-22 00:00:00,2012-04-22 00:00:00
5,69247712,jobs.guardian.co.uk,Search Account Manager/Director (to go ClientS...,Central London,ft,perm.,TANDEM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",4583,2013-04-15 12:00:00,2013-07-14 12:00:00
6,69247714,jobs.guardian.co.uk,Account Director â€“ Oxford Salary up to **** d...,Oxfordshire,ft,perm.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",4375,2012-04-01 15:00:00,2012-05-01 15:00:00
7,69247718,jobs.guardian.co.uk,Marketing Executive **** month FTC North Oxf...,Oxfordshire,ft,contr.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",2417,2013-03-29 00:00:00,2013-06-27 00:00:00
8,69247722,jobs.guardian.co.uk,Senior Search Executive Up to ****k Top inde...,London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1833,2012-08-25 15:00:00,2012-10-24 15:00:00
9,69247727,jobs.guardian.co.uk,Portfolio Manager Credit Card,Wiltshire,ft,perm.,NATIONWIDE BUILDING SOCIETY,"PR, Advertising & Marketing Jobs",3708,2013-04-04 15:00:00,2013-06-03 15:00:00
10,69247777,jobs.guardian.co.uk,Marketing and Communications Assistant,Buckinghamshire,ft,perm.,SARGENTDISC,"PR, Advertising & Marketing Jobs",1750,2013-05-13 15:00:00,2013-07-12 15:00:00
11,69247780,jobs.guardian.co.uk,Digital Campaign Executive,London,ft,perm.,SHAPE MEDIA LTD,"PR, Advertising & Marketing Jobs",1667,2013-09-06 12:00:00,2013-11-05 12:00:00
12,69247846,icaewjobs.com,Top 40 Senior Central London,The City,ft,perm.,Pro Finance,Finance & Accounting Jobs,3458,2012-04-03 12:00:00,2012-05-03 12:00:00
13,69247864,icaewjobs.com,CONSULTING OPPORTUNITY ACA RECENTLY QUALIFIED,The City,ft,perm.,Warner Scott Recruitment,Finance & Accounting Jobs,4708,2013-11-29 15:00:00,2013-12-29 15:00:00
14,69247870,jobs.guardian.co.uk,Corporate PR Account Director London agency ...,London,ft,perm.,F1 RECRUITMENT,"PR, Advertising & Marketing Jobs",4167,2013-01-10 00:00:00,2013-02-09 00:00:00
15,69247876,jobs.guardian.co.uk,Russian speaking Account Manager for independe...,London,ft,perm.,GABRIELE SKELTON LTD,"PR, Advertising & Marketing Jobs",3750,2012-01-09 00:00:00,2012-03-09 00:00:00
16,69247894,jobs.guardian.co.uk,Account Manager (Experiential Marketing),Berkshire,ft,perm.,FISHTANK,"PR, Advertising & Marketing Jobs",2417,2013-12-06 15:00:00,2014-02-04 15:00:00
17,69247900,jobs.guardian.co.uk,Junior Digital Project Manager,Manchester,ft,perm.,ORCHARD,"PR, Advertising & Marketing Jobs",1750,2013-09-06 12:00:00,2013-10-06 12:00:00
18,69247901,jobs.guardian.co.uk,Marketing Manager â€“ Subscription Marketing (ma...,Central London,ft,contr.,ALBANY APPOINTMENTS,"PR, Advertising & Marketing Jobs",3083,2012-02-09 00:00:00,2012-04-09 00:00:00
19,69247912,jobs.guardian.co.uk,Account Handling Recruiter Blue Skies Richmond,London,ft,perm.,BLUE SKIES,"PR, Advertising & Marketing Jobs",2292,2013-01-20 00:00:00,2013-03-21 00:00:00
20,69247919,jobs.guardian.co.uk,Numerate Graduate,London,ft,perm.,REILLY PEOPLE,"PR, Advertising & Marketing Jobs",1542,2013-10-26 12:00:00,2013-11-25 12:00:00
21,69247925,jobs.guardian.co.uk,Integrated Designer Design Agency,Central London,ft,perm.,SEARCH PARTY,"PR, Advertising & Marketing Jobs",3167,2012-05-29 00:00:00,2012-07-28 00:00:00
22,69247927,jobs.guardian.co.uk,Digital Planner Integrated Agency,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2917,2012-08-12 00:00:00,2012-09-11 00:00:00
23,69247929,jobs.guardian.co.uk,Marketing Manager Conferences,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2500,2013-12-26 15:00:00,2014-02-24 15:00:00
24,69247930,jobs.guardian.co.uk,Senior Events Marketing Manager,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",3958,2012-11-22 00:00:00,2013-02-20 00:00:00
25,69247932,jobs.guardian.co.uk,Marketing Executive Retail,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2167,2012-06-07 15:00:00,2012-09-05 15:00:00
26,69247937,jobs.guardian.co.uk,Digital Marketing Executive bilingual English...,Central London,ft,perm.,SPOTLIGHT RECRUITMENT,"PR, Advertising & Marketing Jobs",2792,2012-03-14 00:00:00,2012-05-13 00:00:00
27,69247938,jobs.guardian.co.uk,Experienced (Senior) PR Account Manager,Cambridgeshire,ft,perm.,BRAND RECRUITMENT,"PR, Advertising & Marketing Jobs",2917,2012-04-21 12:00:00,2012-06-20 12:00:00
28,69247939,jobs.guardian.co.uk,Marketing Executive Energy,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",1583,2013-06-17 15:00:00,2013-09-15 15:00:00
29,69247941,jobs.guardian.co.uk,Exhibition/Event Marketing Manager,Central London,ft,perm.,FORMULA WON,"PR, Advertising & Marketing Jobs",3333,2012-04-01 15:00:00,2012-06-30 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
25246,72697232,justengineers.net,CAD Technician Civil ****D,Nottingham,NaN,perm.,Hays Specialist Recruit Ltd Construction,Engineering Jobs,2083,2012-04-03 00:00:00,2012-05-03 00:00:00
25247,72697249,justengineers.net,Ecology Consultant,Cambridge,NaN,perm.,Fusion People Ltd,Engineering Jobs,2208,2012-03-20 00:00:00,2012-05-19 00:00:00
25248,72697286,justengineers.net,Training Delivery Instructor,UK,NaN,perm.,Minstrell Recruitment LTD,Engineering Jobs,2083,2013-12-19 00:00:00,2014-03-19 00:00:00
25249,72697289,justengineers.net,Energy Sales Manager,Blackpool,NaN,perm.,Morgan Hunt UK Limited,Engineering Jobs,1875,2013-05-16 15:00:00,2013-08-14 15:00:00
25250,72697334,justengineers.net,Experienced Tree Surgeon,Poole,NaN,perm.,R S S Limited,Engineering Jobs,1340,2013-10-01 15:00:00,2013-12-30 15:00:00
25251,72697363,justengineers.net,Mechanical / Electrical Fitter,Wiltshire,NaN,perm.,Resourcing Solutions Ltd,Engineering Jobs,958,2013-02-21 15:00:00,2013-04-22 15:00:00
25252,72697506,justengineers.net,Warranty Engineer,UK,NaN,contr.,Resourcing Solutions Ltd,Engineering Jobs,2000,2013-09-09 00:00:00,2013-09-23 00:00:00
25253,72701954,hays.co.uk,Cad TechnicianCivil,Derbyshire,NaN,contr.,NaN,Engineering Jobs,2640,2013-12-26 12:00:00,2014-01-09 12:00:00
25254,72702355,hays.co.uk,Senior Operations Manager PPI,Middlesbrough,NaN,contr.,NaN,Finance & Accounting Jobs,8000,2013-07-03 12:00:00,2013-09-01 12:00:00
25255,72702599,jobsinsocialwork.co.uk,Scientific Editorial Team Leader,London,ft,perm.,Executive Facilities,Healthcare & Nursing Jobs,4167,2013-06-26 15:00:00,2013-09-24 15:00:00
25256,72702787,emedcareers.com,Healthcare Development Manager,UK,NaN,perm.,Barrington James Ltd,Healthcare & Nursing Jobs,4583,2013-04-07 12:00:00,2013-06-06 12:00:00
25257,72702792,emedcareers.com,Senior Medical Writers: Step up to Team Leader...,London,NaN,perm.,NonStop Recruitment,Healthcare & Nursing Jobs,4583,2013-08-11 15:00:00,2013-09-10 15:00:00
25258,72702793,emedcareers.com,Medical Affairs Clinical Research Physician J...,UK,NaN,perm.,Flame Pharma,Healthcare & Nursing Jobs,4583,2012-08-05 00:00:00,2012-10-04 00:00:00
25259,72702812,emedcareers.com,Clinical Sales Specialist,UK,NaN,perm.,New Chapter Consulting,Healthcare & Nursing Jobs,3750,2012-07-29 12:00:00,2012-10-27 12:00:00
25260,72702814,emedcareers.com,Medical Devices Regulatory Affairs Manager Jo...,London,NaN,perm.,Flame Pharma,Healthcare & Nursing Jobs,3750,2013-07-03 12:00:00,2013-10-01 12:00:00
25261,72702823,emedcareers.com,SAS Programmer All Levels Permanent,UK,NaN,perm.,Skills Alliance Limited,Healthcare & Nursing Jobs,3333,2013-03-11 15:00:00,2013-05-10 15:00:00
25262,72702825,emedcareers.com,Pharmaceutical Analytical Team Leader Jobs in...,Northern Ireland,NaN,perm.,Flame Pharma,Healthcare & Nursing Jobs,3542,2013-05-18 15:00:00,2013-07-17 15:00:00
25263,72702831,emedcareers.com,Senior Quality Auditor GCP,South East England,NaN,perm.,Real,Healthcare & Nursing Jobs,3792,2012-03-06 00:00:00,2012-05-05 00:00:00
25264,72702839,emedcareers.com,Territory Sales Manager: South Midlands / Card...,UK,NaN,perm.,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,3458,2012-10-26 15:00:00,2012-12-25 15:00:00
25265,72702840,emedcareers.com,Clinical Product Specialist: South Midlands / ...,East Midlands,NaN,perm.,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,3458,2012-11-28 00:00:00,2013-02-26 00:00:00
25266,72702868,emedcareers.com,Senior Med Info Officer,Essex,NaN,perm.,Key People Limited,Healthcare & Nursing Jobs,2833,2012-07-16 15:00:00,2012-09-14 15:00:00
25267,72702870,emedcareers.com,Territory Manager Orthopaedics,UK,NaN,perm.,Ortho Executive Limited,Healthcare & Nursing Jobs,3333,2012-01-06 15:00:00,2012-04-05 15:00:00
25268,72702883,emedcareers.com,Territory Manager North West,UK,NaN,perm.,Remtec Search and Selection,Healthcare & Nursing Jobs,3000,2013-05-13 00:00:00,2013-07-12 00:00:00
25269,72702927,emedcareers.com,Senior Clinical Research Associate (SCRA) UK,UK,NaN,perm.,Barrington James Ltd,Healthcare & Nursing Jobs,2542,2012-11-04 12:00:00,2012-12-04 12:00:00
25270,72702933,emedcareers.com,IT Infrastructure Specialist (Mlnlycke Health ...,UK,NaN,perm.,Molnlycke,Healthcare & Nursing Jobs,2375,2013-07-31 15:00:00,2013-10-29 15:00:00
25271,72702956,emedcareers.com,Pharmaceutical Analytical Chemist Jobs in Nor...,Northern Ireland,NaN,perm.,Flame Pharma,Healthcare & Nursing Jobs,1917,2013-09-24 15:00:00,2013-10-24 15:00:00
25272,72702963,emedcareers.com,Medical Sales Representative South East Essex,UK,NaN,contr.,The Vacancy Management Company,Healthcare & Nursing Jobs,1875,2012-05-21 12:00:00,2012-06-20 12:00:00
25273,72703193,eventjobsearch.co.uk,SENIOR PROJECT MANAGER EVENT & EXHIBITION AGENCY,Hertfordshire,ft,perm.,Live Recruitment,"PR, Advertising & Marketing Jobs",2708,2013-11-17 15:00:00,2013-12-17 15:00:00
25274,72705197,hays.co.uk,Curriculum Leader Mathematics,Wrexham,NaN,perm.,NaN,Teaching Jobs,417,2012-01-15 12:00:00,2012-03-15 12:00:00
25275,72705203,hays.co.uk,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,NaN,contr.,NaN,Teaching Jobs,1900,2013-04-27 15:00:00,2013-05-11 15:00:00

In [5]:
df2.info()
print('\n\n')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25276 entries, 0 to 25275
Data columns (total 11 columns):
Id                  25276 non-null int64
Source Name         25276 non-null object
Title               25276 non-null object
location            25276 non-null object
Contract Type       4819 non-null object
Contract Time       19763 non-null object
Company             24178 non-null object
Category            25276 non-null object
Salary per month    25276 non-null int64
OpenDate            25276 non-null object
CloseDate           25276 non-null object
dtypes: int64(2), object(9)
memory usage: 2.1+ MB



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             25077 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null float64
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.1+ MB

In [6]:
df2.describe(include='all')

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
count,2.527600e+04,25276,25276,25276,4819,19763,24178,25276,25276.000000,25276,25276
unique,NaN,92,25276,475,2,2,5679,8,NaN,2193,2395
top,NaN,totaljobs.com,Creative/Designer â€“ location flexible,UK,ft,perm.,UKStaffsearch,IT Jobs,NaN,2012-04-06 12:00:00,2013-07-31 12:00:00
freq,NaN,4799,1,4263,4353,16505,255,6854,NaN,28,25
mean,7.109038e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2935.074458,NaN,NaN
std,1.025040e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1315.875990,NaN,NaN
min,6.924768e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,417.000000,NaN,NaN
25%,7.008671e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,NaN,NaN
50%,7.129211e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2681.500000,NaN,NaN
75%,7.187785e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3542.000000,NaN,NaN
max,7.270520e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8000.000000,NaN,NaN

In [7]:
df2[df2.Company.isnull()]

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
337,69258157,careworx.co.uk,Coordinator: Epsom Branch,Epsom,ft,NaN,NaN,Healthcare & Nursing Jobs,1542,2013-06-14 15:00:00,2013-07-14 15:00:00
338,69258227,careworx.co.uk,Nurses Wakefield,Wakefield,NaN,NaN,NaN,Healthcare & Nursing Jobs,3120,2012-01-29 15:00:00,2012-02-28 15:00:00
339,69258244,careworx.co.uk,Paediatric Healthcare Assistants Bexhill,Bexhill-On-Sea,NaN,NaN,NaN,Healthcare & Nursing Jobs,1600,2013-08-07 15:00:00,2013-08-21 15:00:00
340,69258247,careworx.co.uk,Carers Eastbourne,Eastbourne,NaN,NaN,NaN,Healthcare & Nursing Jobs,2078,2012-02-17 12:00:00,2012-03-18 12:00:00
341,69258249,careworx.co.uk,Nursing Home Manager Bournemouth,Bournemouth,NaN,NaN,NaN,Healthcare & Nursing Jobs,3125,2013-12-11 12:00:00,2013-12-25 12:00:00
342,69258251,careworx.co.uk,Healthcare Assistants Dover,Dover,NaN,NaN,NaN,Healthcare & Nursing Jobs,1520,2012-12-06 00:00:00,2012-12-20 00:00:00
343,69258258,careworx.co.uk,Paediatric Nurse Maidstone Night Shifts,Maidstone,NaN,NaN,NaN,Healthcare & Nursing Jobs,4480,2012-03-29 12:00:00,2012-05-28 12:00:00
344,69258259,careworx.co.uk,Paediatric Nurse Maidstone Day shifts,Maidstone,NaN,NaN,NaN,Healthcare & Nursing Jobs,3680,2012-10-03 15:00:00,2012-11-02 15:00:00
345,69258260,careworx.co.uk,Support Worker Tunbridge Wells,UK,NaN,NaN,NaN,Healthcare & Nursing Jobs,1904,2013-06-20 12:00:00,2013-07-04 12:00:00
346,69258271,careworx.co.uk,Branch Manager Fostering,Nottingham,NaN,NaN,NaN,Healthcare & Nursing Jobs,3250,2013-06-30 15:00:00,2013-07-30 15:00:00
347,69258293,careworx.co.uk,Registered Nurse Glasgow Night Shifts,Glasgow,NaN,NaN,NaN,Healthcare & Nursing Jobs,3440,2013-02-09 00:00:00,2013-04-10 00:00:00
348,69258306,careworx.co.uk,Theatre Practitioner (Orthopaedic Scrub),UK,ft,NaN,NaN,Healthcare & Nursing Jobs,2025,2012-10-05 00:00:00,2013-01-03 00:00:00
349,69258318,careworx.co.uk,RGN / RMN Darlington,Darlington,NaN,NaN,NaN,Healthcare & Nursing Jobs,2000,2013-04-29 15:00:00,2013-05-13 15:00:00
350,69258458,hays.co.uk,BIM Coordinator Highway Infrastructure Project,Leicestershire,NaN,perm.,NaN,Engineering Jobs,3750,2013-02-05 15:00:00,2013-05-06 15:00:00
351,69258467,hays.co.uk,Marketing Specialist Engineering and Filtration,Portsmouth,NaN,perm.,NaN,Engineering Jobs,3542,2012-02-02 12:00:00,2012-05-02 12:00:00
366,69260324,hays.co.uk,Solution Architect x**** Financial Services ...,Cheshire,NaN,perm.,NaN,Finance & Accounting Jobs,6250,2012-12-22 15:00:00,2013-03-22 15:00:00
367,69260353,hays.co.uk,Support Share Plan Administrator,Ipswich,NaN,perm.,NaN,Finance & Accounting Jobs,1083,2013-08-21 12:00:00,2013-10-20 12:00:00
369,69260358,hays.co.uk,Share Plan Administrator,Ipswich,NaN,perm.,NaN,Finance & Accounting Jobs,1292,2012-02-06 12:00:00,2012-03-07 12:00:00
372,69260663,hays.co.uk,Newcastle Registered General Nurse/Band 5,Newcastle Upon Tyne,NaN,contr.,NaN,Healthcare & Nursing Jobs,4160,2012-05-13 00:00:00,2012-05-27 00:00:00
373,69260664,hays.co.uk,NHS Accounting Costings,Bury St. Edmunds,NaN,contr.,NaN,Healthcare & Nursing Jobs,2560,2013-12-08 00:00:00,2013-12-22 00:00:00
374,69260668,hays.co.uk,BAND 5 RGN HEREFORD,Hereford,NaN,contr.,NaN,Healthcare & Nursing Jobs,4160,2013-04-16 15:00:00,2013-04-30 15:00:00
375,69260671,hays.co.uk,Outreach Workers,Bristol,NaN,perm.,NaN,Healthcare & Nursing Jobs,1183,2013-01-06 15:00:00,2013-02-05 15:00:00
376,69260675,hays.co.uk,Registered Nurse/Ward Nurse (Band 5),Surrey,NaN,contr.,NaN,Healthcare & Nursing Jobs,2880,2012-04-14 12:00:00,2012-06-13 12:00:00
520,69271005,hays.co.uk,PRU Teaching Assistant Worksop,Worksop,NaN,contr.,NaN,Teaching Jobs,1150,2012-09-17 00:00:00,2012-10-01 00:00:00
521,69271043,hays.co.uk,Maths Teachers Required,Bexley,NaN,contr.,NaN,Teaching Jobs,2200,2012-09-05 12:00:00,2012-10-05 12:00:00
522,69271080,hays.co.uk,KS**** Primary Teachers Required,Dartford,NaN,contr.,NaN,Teaching Jobs,2200,2012-04-25 15:00:00,2012-05-25 15:00:00
532,69469752,technojobs.co.uk,SAP PP Solution Designer Midlands****k Excell...,Tamworth,NaN,perm.,NaN,IT Jobs,5000,2012-07-27 00:00:00,2012-08-26 00:00:00
533,69469816,technojobs.co.uk,Senior Developer C Woking,Whyteleafe,NaN,perm.,NaN,IT Jobs,4333,2012-04-02 15:00:00,2012-06-01 15:00:00
535,69469906,technojobs.co.uk,Assistant Sales Manager (Automotive),Durham,NaN,perm.,NaN,IT Jobs,2167,2012-07-01 00:00:00,2012-07-31 00:00:00
539,69469941,technojobs.co.uk,Field Service Engineer (UPS),Swanley,NaN,perm.,NaN,IT Jobs,2667,2012-12-31 15:00:00,2013-03-31 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
21970,72384848,onlymarketingjobs.com,Project Manager Digital Marketing,Leicestershire,NaN,NaN,NaN,"PR, Advertising & Marketing Jobs",2292,2012-01-30 12:00:00,2012-02-29 12:00:00
21971,72384855,onlymarketingjobs.com,Senior Product Manager Fashion Accessories,Northamptonshire,NaN,NaN,NaN,"PR, Advertising & Marketing Jobs",3042,2012-11-23 00:00:00,2013-01-22 00:00:00
21972,72384876,onlymarketingjobs.com,Insight Analyst SAS / SPSS Marketing Agency,Bath,NaN,NaN,NaN,"PR, Advertising & Marketing Jobs",3125,2012-01-29 00:00:00,2012-03-29 00:00:00
21973,72385252,onlymarketingjobs.com,Advertising Project Manager Brand Marketing,Northamptonshire,NaN,NaN,NaN,"PR, Advertising & Marketing Jobs",2625,2013-05-22 15:00:00,2013-06-05 15:00:00
21974,72385280,onlymarketingjobs.com,Account Director Digital Marketing,Leicestershire,NaN,NaN,NaN,"PR, Advertising & Marketing Jobs",3667,2013-12-19 00:00:00,2014-02-17 00:00:00
21990,72393027,jobs.telegraph.co.uk,CT/MR Radiographer,London,NaN,perm.,NaN,Healthcare & Nursing Jobs,3367,2012-04-06 12:00:00,2012-05-06 12:00:00
22178,72402998,michaelpage.co.uk,International Email executive,Cheshire,NaN,perm.,NaN,"PR, Advertising & Marketing Jobs",1417,2013-06-08 00:00:00,2013-09-06 00:00:00
22282,72424494,jobs4medical.co.uk,Management/Admin : Nurse Managers x2 Medical ...,Cheshire,NaN,perm.,NaN,Healthcare & Nursing Jobs,2771,2013-09-18 12:00:00,2013-10-18 12:00:00
22284,72425166,michaelpage.co.uk,Principal/Managing Consultant,Bath,NaN,perm.,NaN,Finance & Accounting Jobs,6667,2013-05-15 15:00:00,2013-08-13 15:00:00
24261,72602836,jobs4medical.co.uk,Doctor : Trust Doctor (SPR ) Paediatrics Esse...,Essex,NaN,perm.,NaN,Healthcare & Nursing Jobs,3196,2013-04-05 15:00:00,2013-06-04 15:00:00
24262,72602978,jobs4medical.co.uk,Doctor : SHO in A&E/Bedfordshire ****HCLaga****,Bedfordshire,NaN,perm.,NaN,Healthcare & Nursing Jobs,3184,2012-05-18 15:00:00,2012-07-17 15:00:00
24263,72602996,jobs4medical.co.uk,Doctor : RMO Specialist Critical Care ****HCLa...,Central London,NaN,perm.,NaN,Healthcare & Nursing Jobs,4792,2012-06-06 00:00:00,2012-09-04 00:00:00
24434,72625397,theitjobboard.co.uk,Senior Build And Release Engineer,Buckinghamshire,NaN,perm.,NaN,IT Jobs,3750,2012-11-10 00:00:00,2012-12-10 00:00:00
24623,72651149,randstadfp.com,Facilities Manager Job London,London,ft,contr.,NaN,Finance & Accounting Jobs,3920,2013-09-22 12:00:00,2013-12-21 12:00:00
24624,72651371,randstadfp.com,Campaign Manager Job Bristol,Bristol,ft,contr.,NaN,Finance & Accounting Jobs,5300,2013-01-06 00:00:00,2013-02-05 00:00:00
24625,72652051,randstadfp.com,Supplier Risk Management Monitoring Associate ...,Docklands,ft,contr.,NaN,Finance & Accounting Jobs,6000,2012-07-11 15:00:00,2012-08-10 15:00:00
24626,72653314,randstadfp.com,Finance Manager Job Liverpool,Liverpool,ft,perm.,NaN,Finance & Accounting Jobs,3125,2012-08-21 00:00:00,2012-11-19 00:00:00
24887,72683642,careworx.co.uk,Regional Manager | Operations Manager,Edinburgh,ft,NaN,NaN,Healthcare & Nursing Jobs,4375,2013-12-18 00:00:00,2014-01-17 00:00:00
24888,72683727,careworx.co.uk,Paediatric Support Worker Loughborough,Loughborough,NaN,NaN,NaN,Healthcare & Nursing Jobs,1456,2012-03-03 15:00:00,2012-03-17 15:00:00
24889,72683737,careworx.co.uk,Nurse Practitioner Job Ipswich,Ipswich,pt,NaN,NaN,Healthcare & Nursing Jobs,3542,2012-04-02 12:00:00,2012-04-16 12:00:00
24890,72683759,careworx.co.uk,PERM RGN Derby Nights **** hours p/w ****ph,Derby,ft,NaN,NaN,Healthcare & Nursing Jobs,2000,2013-10-23 12:00:00,2014-01-21 12:00:00
24891,72683775,careworx.co.uk,Clinical Lead Nursing Home RGN / RMN,Warwickshire,NaN,NaN,NaN,Healthcare & Nursing Jobs,2125,2013-10-22 00:00:00,2013-11-21 00:00:00
24892,72683785,careworx.co.uk,Social Worker | Older People | South West,South West England,NaN,NaN,NaN,Healthcare & Nursing Jobs,2560,2013-12-13 00:00:00,2013-12-27 00:00:00
24893,72683789,careworx.co.uk,Social Worker | Adult Hospital | South London,London,NaN,NaN,NaN,Healthcare & Nursing Jobs,4240,2013-02-24 00:00:00,2013-04-25 00:00:00
24894,72683811,careworx.co.uk,Social Worker | Hospital Adults | West Midlands,West Midlands,NaN,NaN,NaN,Healthcare & Nursing Jobs,3520,2012-05-27 00:00:00,2012-07-26 00:00:00
24895,72683812,careworx.co.uk,Band 7 Psychological Therapist IAPT East London,East London,ft,NaN,NaN,Healthcare & Nursing Jobs,4000,2013-02-10 00:00:00,2013-03-12 00:00:00
25253,72701954,hays.co.uk,Cad TechnicianCivil,Derbyshire,NaN,contr.,NaN,Engineering Jobs,2640,2013-12-26 12:00:00,2014-01-09 12:00:00
25254,72702355,hays.co.uk,Senior Operations Manager PPI,Middlesbrough,NaN,contr.,NaN,Finance & Accounting Jobs,8000,2013-07-03 12:00:00,2013-09-01 12:00:00
25274,72705197,hays.co.uk,Curriculum Leader Mathematics,Wrexham,NaN,perm.,NaN,Teaching Jobs,417,2012-01-15 12:00:00,2012-03-15 12:00:00
25275,72705203,hays.co.uk,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,NaN,contr.,NaN,Teaching Jobs,1900,2013-04-27 15:00:00,2013-05-11 15:00:00

This task is about integrating the datasets. The sets include the same columns and represent the same data. Hence it makes sense to do a concatination of the datasets rather than merge on a key. 

But before we can integrate the datasets we have to make sure that the format followed in dataset one is also followed in dataset 2. This is because we will consider dataset 1's schema to be the global schema and have to make the schema for dataset 2 be consistent with it. 

For this task it will be assumed that the dataset 2 is clean and hence no cleaning will be required. But in some cases since the format for dataset 1 is different minor changes to dataset 2 will need to be done. E.g. removing all `?` from Title column if there are any. 

So, we will start off with checking the formats for the different attributes.

## ID

We will check if all id's are of length 8, are integers and do not contain dirty characters.

In [8]:
#checking all lenghts of id
df2.Id.apply(lambda x: len(str(x))).unique()

array([8], dtype=int64)

In [9]:
#checking for characters other than digits
{re.search(r'\D+', str(x)).group() for x in df2.Id.tolist() if re.search(r'\D+', str(x))}

set()

In [10]:
df2.Id.describe()

count    2.527600e+04
mean     7.109038e+07
std      1.025040e+06
min      6.924768e+07
25%      7.008671e+07
50%      7.129211e+07
75%      7.187785e+07
max      7.270520e+07
Name: Id, dtype: float64

## Source Name

Lets check if all source names are websites.

In [11]:
df2['Source Name'].unique()

array(['jobs.guardian.co.uk', 'icaewjobs.com', 'jobs.newstatesman.com',
       'contractjobs.com', 'hotrecruit.com', 'jobs.bighospitality.co.uk',
       'nijobfinder.co.uk', 'rengineeringjobs.com', 'actuaryjobs.co.uk',
       'jobsinscotland.com', 'jobsite.co.uk', 'cvbrowser.com',
       'staffnurse.com', 'cv-library.co.uk', 'careworx.co.uk',
       'hays.co.uk', 'careerbuilder.com', 'ifaonlinejobs.co.uk',
       'gojobsearch.co.uk', 'jobsinsocialwork.co.uk', 'emedcareers.com',
       'eventjobsearch.co.uk', 'justengineers.net', 'strike-jobs.co.uk',
       'caterer.com', 'technojobs.co.uk', 'jobstoday.co.uk',
       'planetrecruit.com', 'emptylemon.co.uk', 'londonjobs.co.uk',
       'renewablescareers.com', 'securityclearedjobs.com',
       'onlineinsurancejobs.co.uk', 'accountancyagejobs.com',
       'thecareerengineer.com', 'jobserve.com', 'jobsfinancial.com',
       'tntjobs.co.uk', 'myjobs.cimaglobal.com',
       'jobs.electronicsweekly.com', 'jobsinrisk.com',
       'simplymarketingjobs.co.uk', 'mediaweekjobs.co.uk', 'cwjobs.co.uk',
       'insurancejobs.co.uk', 'careersinconstruction.com',
       'jobs.chinwag.com', 'simplysalesjobs.co.uk',
       'jobsineducation.co.uk', 'jobsincredit.com',
       'onlymarketingjobs.com', 'OilCareers.com',
       'professionalpensionsjobs.com', 'ncejobs.co.uk', 'careers4a.com',
       'nurseryworldjobs.co.uk', 'totaljobs.com',
       'jobs.opticianonline.net', 'randstadfp.com', 'michaelpage.co.uk',
       'jobg8.com', 'jobs4medical.co.uk', 'energygenerationjobs.com',
       'jobs.planningresource.co.uk', 'london4jobs.co.uk',
       'jobs.telegraph.co.uk', 'cityjobs.com', 'ukstaffsearch.com',
       'theitjobboard.co.uk', 'gorkanajobs.co.uk',
       'rcnbulletinjobs.co.uk', 'nursingtimesjobs.com',
       'frontofficebanking.com', 'salestarget.co.uk',
       'jobs.catererandhotelkeeper.com', 'fish4.co.uk',
       'jobs.gponline.com', 'careersinaudit.com', 'britishjobsonthe.net',
       '3desk.com', 'workthing.com', 'cvjobstore.com', 'jobs.perl.org',
       'nijobs.com', 'wikijob.co.uk', 'cardandpaymentjobs.com',
       'juniorbroker.com', 'scotsman.com', 'jobs.scot.nhs.uk',
       'hsjjobs.com', 'grb.uk.com', 'legalprospects.com'], dtype=object)

Nothing to do in source name. All the webistes are in the website format.

## Location

In [12]:
df2.location.unique()

array(['London', 'Central London', 'Worcestershire', 'Oxfordshire',
       'Wiltshire', 'Buckinghamshire', 'The City', 'Berkshire',
       'Manchester', 'Cambridgeshire', 'Isle Of Wight', 'Warwickshire',
       'Newcastle Upon Tyne', 'Nottinghamshire', 'Shrewsbury',
       'West London', 'South East London', 'Suffolk', 'North London',
       'Lancashire', 'Hertfordshire', 'East London', 'Bedfordshire',
       'Belfast', 'Coventry', 'UK', 'Aberdeen', 'Plymouth', 'Stevenage',
       'North West England', 'South Lanarkshire', 'Horsham', 'Swindon',
       'Carlisle', 'Kent', 'Rochester', 'Ealing', 'West Lothian',
       'Maidenhead', 'Bristol', 'Brighton', 'Clacton-On-Sea', 'Perth',
       'Christchurch', 'Newport', 'Eastbourne', 'Peterborough',
       'Portsmouth', 'Harrow', 'Telford', 'Glasgow', 'Sheffield', 'Luton',
       'Surrey', 'East Midlands', 'Ashford', 'Cambridge',
       'Bexhill-On-Sea', 'Bracknell', 'Wokingham', 'East Grinstead',
       'Northamptonshire', 'Watford', 'Hemel Hempstead', 'Merseyside',
       'Burgess Hill', 'Poole', 'Cumbria', 'Abingdon', 'Derbyshire',
       'Huddersfield', 'Guildford', 'Cheshire', 'Exeter', 'Lichfield',
       'Rotherham', 'Derby', 'Wrexham', 'Cardiff', 'Newton Abbot',
       'Aylesbury', 'South East England', 'Leeds', 'Bedford', 'Essex',
       'Farnborough', 'Fareham', 'Birmingham', 'Leicester', 'Doncaster',
       'Winchester', 'Leamington Spa', 'Bolton', 'South Yorkshire',
       'Southampton', 'Birkenhead', 'West Midlands', 'Nottingham',
       'Cheadle', 'Canterbury', 'Sutton Coldfield', 'Dunstable',
       'Gravesend', 'Solihull', 'Cheltenham', 'Grimsby', 'Sunderland',
       'Stockport', 'Bourne End', 'Epsom', 'Wakefield', 'Bournemouth',
       'Dover', 'Maidstone', 'Darlington', 'Leicestershire', 'Reading',
       'Newbury', 'Matlock', 'Barnet', 'Warwick', 'Barnstaple',
       'Braintree', 'Ipswich', 'Redhill', 'Leatherhead',
       'Bury St. Edmunds', 'Hereford', 'West Sussex', 'Chester',
       'Shepton Mallet', 'Ferndown', 'West Yorkshire', 'Hampshire',
       'Livingston', 'Blackpool', 'Tunbridge Wells', 'Edinburgh',
       'High Wycombe', 'Salisbury', 'Camden', 'Cirencester', 'Dorset',
       'East Sussex', 'Swansea', 'Bath', 'Warrington',
       'South West England', 'Scotland', 'Oxford', 'Andover', 'Dewsbury',
       'Middlesbrough', 'Redditch', 'Worksop', 'Bexley', 'Dartford',
       'Tamworth', 'Whyteleafe', 'Durham', 'Swanley', 'Bradford',
       'Axbridge', 'East Sheen', 'Keighley', 'Worthing', 'Evesham',
       'Northampton', 'Marlow', 'Stroud', 'Witney', 'York', 'Banbury',
       'Edinburgh Technopole', 'Chichester', 'Gloucestershire',
       'Beaconsfield', 'Harrogate', 'Wellingborough', 'Reigate', 'Jersey',
       'Midlothian', 'Avon', 'Cobham', 'North Yorkshire', 'North Lambeth',
       'Thame', 'South Shields', 'Liverpool', 'South West London',
       'Yorkshire and Humberside', 'Southport', 'Mansfield', 'Chatham',
       'Richmond', 'Hounslow', 'Twickenham', 'Hackney', 'Southwark',
       'Lambeth', 'Greenwich', 'Colchester', 'Chelmsford', 'Brentwood',
       'Sudbury', 'Milton Keynes', 'Egham', 'West End', 'Staffordshire',
       'Craigiehall', 'North West London', 'Norwich', 'Hastings',
       'Wolverhampton', 'Thatcham', 'Taunton', 'Dorking', 'Crewe',
       'Wimbledon', 'Melton Mowbray', 'Crawley', 'Docklands', 'Newark',
       'St. Albans', 'Wigan', 'Lincolnshire', 'Preston', 'Stoke-On-Trent',
       'Hungerford', 'Stafford', 'Towcester', 'Stockton-On-Tees',
       'Croydon', 'Norfolk', 'Pontefract', 'Amersham', 'Basingstoke',
       'Letchworth Garden City', 'Cliddesden', 'Slough', 'Hook',
       'Huntingdon', 'Fleet', 'Gloucester', 'Somerset', 'Chorley', 'Bury',
       'Farnham', 'Stamford', 'Fife', 'Weybridge', 'Antrim', 'Shropshire',
       'Harlow', 'Haslemere', 'Uxbridge', 'Eastern England', 'Altrincham',
       'Scunthorpe', 'Northwich', 'Covent Garden', 'Loughborough',
       'Great Yarmouth', 'Rugby', 'Dudley', 'Washington', 'Eastleigh',
       'Ilford', 'Aberdeenshire', 'Walsall', 'Basildon', 'Hitchin',
       'Walton-On-Thames', 'South Croydon', 'Stirling', 'West Town',
       'Calcot', 'Herefordshire', 'Sittingbourne', 'Hertford',
       'Broadfield', 'Woking', 'Horsforth', 'Chertsey',
       'Glasgow East Investment Park', 'Sevenoaks', 'Little Chesterford',
       'Manchester Science Park', 'Two Mile Ash', 'Camberley', 'Coscote',
       'Clifton', 'Southampton International Airport', 'Addlestone',
       'Boldon Colliery', 'Godalming', 'West Bromwich', 'Sale', 'Bromley',
       'Burnley', 'Northallerton', 'Halesowen', 'Burton-On-Trent',
       'Chesterfield', 'North East England', 'Didcot', 'Yeovil',
       'Aldershot', 'Bicester', 'Castleford', 'Tadworth', 'Sutton Green',
       'Knutsford', 'Haywards Heath', 'North Ayrshire', 'Folkestone',
       'Buckingham', 'Greater Manchester', 'Blaenau Gwent', 'Uckfield',
       'Lincoln', 'Kidderminster', 'Leyland', 'Corby', 'Lancaster',
       'Lewes', 'Alfreton', 'Wisbech', 'Thirsk', 'Halifax', 'Gateshead',
       'Dorchester', 'Nuneaton', 'Worcester', 'Salford', 'Torquay',
       'Macclesfield', 'Melksham', 'Hove', 'Morpeth', 'Barnsley',
       'Thetford', 'Romford', 'Bangor', 'Rochdale', 'Gillingham',
       'Swadlincote', 'Trowbridge', 'Widnes', 'Selby', 'Oldham',
       'Weston-Super-Mare', 'Dundee', 'Blackburn', 'Gerrards Cross',
       'Bagshot', 'Glenrothes', 'Dumfries', 'Gaydon', 'Windsor',
       'Hatfield', 'Devon', 'St. Helens', 'Thames Ditton', 'Runcorn',
       'Wetherby', 'Stratford-Upon-Avon', 'Potters Bar', 'Petersfield',
       'Hull', 'Tewkesbury', 'Havant', 'City', 'Prescot', 'Wales',
       'Llandaff North', 'Market Harborough', 'Arundel', 'North Shields',
       'Henley-On-Thames', 'Kenilworth', 'Kensington', 'Southend-On-Sea',
       'Stourbridge', 'Lewisham', 'North Finchley', 'Tonbridge',
       'Newport Pagnell', 'Brent Cross', 'Warminster', 'Gosport',
       'Cornwall', 'Handbridge', 'Sompting', 'Wilmslow', 'West Malling',
       'Skipton', 'Bolton Le Sands', 'Littlehampton', 'Dunfermline',
       'Kettering', 'Northern Ireland', 'Chippenham', 'Accrington',
       'Gainsborough', 'Devizes', 'Marton-In-Cleveland', 'Lowestoft',
       'Sutton-In-Ashfield', 'Cannock', "King's Lynn", 'Sidcup',
       'Ash Green', 'Woodthorpe', 'Cressington', 'Rickmansworth',
       'Lutterworth', 'Knaresborough', 'Welwyn Garden City',
       'Northumberland', 'Newcastle-under-Lyme', 'Kingston Upon Thames',
       'Camden Town', 'Bromsgrove', 'March', 'Truro', 'Oldbury', 'Alton',
       'Caerphilly', 'Daventry', 'Enfield', 'St. Neots', 'Scarborough',
       'Gatwick', 'Byfleet', 'Grantham', 'Weymouth', 'Bognor Regis',
       'Droitwich', 'Shipley', 'Kidlington', 'Barking', 'Workington',
       'Wirral', 'Chesham', 'Redcar', 'Hinckley', 'Morecambe', 'Bridgend',
       'Canary Wharf', 'Barrow-In-Furness', 'Staines', 'Waterlooville',
       'Inverness', 'Chipping Campden', 'Rushden', 'Margate', 'Alcester',
       'Wincanton', 'Ely', 'Linlithgow', 'Leighton Buzzard', 'Boston',
       'Cwmbran', 'Bridgwater', 'Thorpe St. Andrew', 'Borehamwood',
       'Brierley Hill', 'East Riding', 'Chipping Norton', 'South Brent',
       'Normanton', 'Frome', 'Kendal', 'St. Ives'], dtype=object)

## Contract type

The scheme for the contract type should be the same as dataset 1 and hence lets check what the format is here.

In [13]:
df2['Contract Type'].value_counts()

ft    4353
pt     466
Name: Contract Type, dtype: int64

Since the format is differnt here, we will replace all the values with the correct values.

In [14]:
CTy_dic_clean = {'Contract Type': {'ft': 'full-time', 'pt':'part-time', np.nan:'non-specified'}}
df2 = df2.replace(CTy_dic_clean)

In [15]:
df2['Contract Type'].value_counts()

non-specified    20457
full-time         4353
part-time          466
Name: Contract Type, dtype: int64

## Contract time

Contract time should also follow the same format as that of dataset 1. Hence lets view this.

In [16]:
df2['Contract Time'].value_counts()

perm.     16505
contr.     3258
Name: Contract Time, dtype: int64

Since there is a difference in the format of the values lets change it.

In [17]:
CTi_dic_clean = {'Contract Time': {'perm.': 'permanent', 'contr.':'contract', np.nan:'non-specified'}}
df2 = df2.replace(CTi_dic_clean)

In [18]:
df2['Contract Time'].value_counts()

permanent        16505
non-specified     5513
contract          3258
Name: Contract Time, dtype: int64

## Company

The Company attribute will be considered to be clean. However, there are certain formating that will need to be done to be consistent with dataset 1. 
- changing all Limited, ltd, etc. to Ltd
- removing all fullstops
- removing all websites if any (there shouldnt be since this is clean)
- replacing double spacing with single spacing 
- chaning t/a to T/A

These are not changing the data in the company but only changing the formating of the data according to the scheme of dataset 1.

In [19]:
#checking company counts
df2.Company.value_counts()

UKStaffsearch                                         255
Randstad                                              234
CVbrowser                                             161
Penguin Recruitment                                   120
Matchtech Group plc.                                   93
Populus Healthcare                                     92
Michael Page Finance                                   90
London4Jobs                                            89
COREcruitment International                            81
Liquid Personnel Ltd                                   77
Hays                                                   74
Inspired Selections                                    74
Computer Futures                                       73
Bee Recruitment London Ltd                             72
Experis IT                                             71
Jobsite Jobs                                           67
IDEX Consulting LLP                                    67
Capita Education                                       66
Senitor Associates                                     65
SYK Recruitment                                        61
Rise Technical Recruitment                             58
Lawes Insurance Recruitment                            57
Evolution Recruitment Solutions                        57
HCL Nursing                                            53
Domus Recruitment                                      52
TeacherActive                                          51
Office Angels                                          50
Nigel Frank International                              50
Moriati Media UK Ltd                                   50
Pulse                                                  50
                                                     ...
Irecruit Scotland                                       1
Gordon Yates Limited                                    1
Blusource I C                                           1
ARC  Limited                                            1
Sussex Partnership NHS Foundation Trust                 1
ELECT RECRUITMENT                                       1
Harrington Brooks                                       1
Woodward Recruitment                                    1
Savvy Media Group                                       1
Galvin Restaurants                                      1
Fenwick Ryan Ltd                                        1
Synergis Limited                                        1
Constructive Resources                                  1
BARRAN AND GREEN                                        1
Momenta Group Limited                                   1
Flexible Solutionz                                      1
HAMMERSMITH ACADEMY                                     1
Proud Power Ltd                                         1
Equation Recruitment                                    1
Network 92                                              1
Unity                                                   1
Barclays                                                1
Momentum Recruitment                                    1
B&Q                                                     1
WEVE                                                    1
Crerar Hotels                                           1
Win Technologies  Ltd                                   1
Exsurgo                                                 1
CvBay Ltd                                               1
Foremost Recruitment Limited t/a Pathway Personnel      1
Name: Company, Length: 5679, dtype: int64

Checking special characters and viewing the data that has them.

In [20]:
#looking for dirty values
a = r".*([^a-zA-Z0-9\s])+.*"
set([re.search(a, str(x)).group(1) for x in df2['Company'].tolist() if re.search(a, str(x))])

{'!', '&', "'", ',', '.', '/', ':', '@', 'â€“'}

In [21]:
display(df2.loc[df2.Company.str.contains('â€“', na=False), 'Company'].unique())
display(df2.loc[df2.Company.str.contains(',', na=False), 'Company'].unique())
display(df2.loc[df2.Company.str.contains(':', na=False), 'Company'].unique())
display(df2.loc[df2.Company.str.contains('!', na=False), 'Company'].unique())
display(df2.loc[df2.Company.str.contains('@', na=False), 'Company'].unique())
display(df2.loc[df2.Company.str.contains('\.', na=False), 'Company'].unique())

array(['Capita Resourcing â€“ Jobs at Capita',
       'Blue Arrow Catering â€“ Oxford'], dtype=object)

array(['Staffworx Ltd, UK', 'Randstad Construction, Property Engineering',
       'Berkeley Scott Pubs, Bars Restaurants',
       'Energy, Infrastructure Technical', 'The Park Lane Hotel, London',
       'Berkeley Scott Pubs, Bars & Restaurants',
       'Mott MacDonald Oil, Gas Petrochemicals',
       'AMR   Gr, Manchester & Cheshire',
       'Appetite4Recruitment   High End Restaurants, Pubs & Bars',
       'SolTech, Inc.', 'Aspire, Achieve, Advance Limited',
       'Appetite4Recruitment   High End Restaurants, Pubs Bars',
       'Tri S Recruiters, Inc.',
       'Paramount Recruitment Med Comms, PR & Advertising',
       'Assystem UK Ltd, Bristol', 'Search Consultancy, Edinburgh',
       'ExecuPharm, Inc', 'Technology Recruiting Solutions,Inc.',
       'Crone Corkill, An Advantage Professional Company',
       'Alan E. Heckler, PC',
       'Community Assessment Treatment Services, Inc.',
       'AMR   London, North & Central'], dtype=object)

array(['sk:n Clinics'], dtype=object)

array(['Yo! Sushi'], dtype=object)

array(['@ITS  Limited', '@ITS', 'Jobs@Pertemps   London City',
       'Jobs@Pertemps   Newcastle Commercial', 'Jobs@Pertemps ',
       'Jobs@Pertemps   Reading Commercial',
       'Jobs@Pertemps   Burton On Trent'], dtype=object)

array(['EasyWebRecruitment.com', 'Matchtech Group plc.',
       'Client Server Ltd.', 'C.O.A.L IT. Services Ltd',
       'Global Technology Solutions Ltd.', 'Futureheads Recruitment Ltd.',
       'RecruitmentRevolution.com', 'K.B.C. Associates Limited',
       'Monarch Recruitment Ltd.', 'Net Recruit.co.uk ltd',
       'I.T. Skillfinder', 'Oho Group Ltd.', 'BTR Recruitment Ltd.',
       'People Source Consulting.', 'Connections Recruitment Ltd.',
       'TLP Consultancy Ltd.', 'Additional Resources Ltd.',
       'Computer Futures   London & S.E',
       'Sand Resources. A division of InterQuest Group  Ltd',
       'JAM Recruitment Ltd.', 'Davis Green   Swindon.', 'hunt4staff.com',
       'Hatched.co.uk', 'Badenoch & Clark   Manchester.',
       'Badenoch & Clark   Edinburgh.', 'Macildowie Associates.',
       'Carr Lyons.', 'Scottish Property Jobs.com',
       'Halogen Corporation Ltd.', 'AD LIB Holdings Ltd.',
       'M. ARIA RECRUITMENT LTD',
       'Schools Courses Career Development C.I.C', 'Epsilium Ltd.',
       'JNC Recruitment Ltd.', 'Red Rock Consultants Ltd.',
       'Springboard Worldwide Ltd.', 'SCJ Consulting ltd.',
       'Recruitmentconsultant.com', 'C.O.A.L IT Services Ltd',
       'Buzzrecruit.com', 'Xquisite Recruitment.',
       'Burnham Resources Ltd.', 'Extech 2000 Limited.',
       'Wade Macdonald Associates.', 'MW Appointments.',
       'easyvacancy.co.uk', 'Petroplan Ltd.', 'Hunt4Staff.com',
       'in pact.co.uk', 'Actis Recruitment.', 'SolTech, Inc.', 'STR Ltd.',
       'MNM Associates Ltd.', 'Morson International.',
       'Highpoint Recruitment.', 'Gold Group Ltd.', 'URECRUIT.',
       'Badenoch & Clark   Birmingham.',
       'RecruitmentRevolution.com Limited',
       'Nuffield Health   StaffNurse.com', 'Gemploy.com',
       'Tri S Recruiters, Inc.', 'MAPP Ltd.', 'Networx.',
       'Holland & Tisdall.', 'Travel Trade Recruitment.',
       'Financialadviser careers .Com', 'RECRUITMENTREVOLUTION.COM',
       'Spinal Home Care Services Ltd.', 'Freshfield Services  Ltd.',
       'Orleston Associates Ltd.', 'G2 Recruitment Solutions Ltd.',
       'Go Partnership.', 'REED.CO.UK', 'D.R.C. Locums Limited',
       'Xpress Recruitment.', 'ecomrecruitment.com',
       'Language Recruitment Services.', 'Finance Professionals Ltd.',
       'Mobilus Limited.', 'Omni Resource Management Solutions.',
       'Recruitment Revolution.Com Limited',
       'Market Place Solutions Ltd.', 'Recruitment21.com Limited',
       'BlueTownOnline.co.uk', 'Easyvacancy.co.uk',
       'C.K.R. Recruitment Limited',
       'Technology Recruiting Solutions,Inc.', 'Skillframe Ltd.',
       'ITS European.', 'Headstart Employment.', 'Leap29.', 'Potensis.',
       'NDK Consulting.co.uk Ltd', 'Alan E. Heckler, PC', 'Morgan Ryder.',
       'Bridge Human Resources Recruitment.', 'Arnold Clark.',
       'Intech Recruitment.', 'Signet Resources.',
       'RecruitmentConsultant.com', 'Attain Recruitment Ltd.',
       'C.O.S Recruitment Limited', 'NDK Consulting.Co UK Ltd',
       'THESMARTLIST.co.uk',
       'Community Assessment Treatment Services, Inc.',
       'Next Move I.T. Limited', 'Stonegate Pub Company.',
       '1st Choice Computer Appointments.', 'Holden Jones Ltd.',
       'Claimfree.co.uk Ltd', 'Empiric.com', 'injixo Ltd.',
       'Church International Ltd.', 'Indigo21recruitment.com',
       'T.E.D.  Ltd', 'Catch 22.', 'ARV Solutions.',
       'Interim Management Solutions W/wide Ltd.',
       'Definitive Recruitment Ltd.', 'Hotfoot Resourcing.',
       'hotrocket.net', 'Zolv.com Ltd', 'N.R.L Ltd ', 'EasyVacancy.co.uk',
       'Voga.com', 'PSD Technology Contracts Ltd.', 'HCL Permanent.',
       'Alltek Ltd.', 'IRM Solutions.',
       'Communicate Recruitment Solutions Ltd.',
       'Sagent Recruitment Ltd.', 'Spencer Resourcing Solutions Ltd.'],
      dtype=object)

We can see that there are websites in the data set that will need to be removed, double or more spacing will need to be removed  and fullstops will need to removed as well. Just to be consistent the same replacements will be done in dataset 2 as done in dataset 1. if they do exist they will get changed.

In [22]:
#dictionary for cleaning
Comp_dic_clean = {'\.com': '', '\.net':'', '\.uk\.net':'', '\.co\.uk':'', 'LTD':'Ltd', ' Limited':' Ltd', 'www\.':'', 't/a':'T/A', '\.':'', '\s{2,}':' '}

#loop for cleaning
for key, val in Comp_dic_clean.items():
    df2.Company = df2.Company.str.replace(key, val, case=False)
    
#remove white spaces from right and left
df2.Company = df2.Company.str.strip()

One that is done, since this dataset also includes null values in Company and null values in the dataset 1 were replaced with non-specified, this will be done for dataset 2 aswell.

In [23]:
#filling nulls
df2.Company.fillna('non-specified', inplace=True)

### Category

Again, the categories for both the datasets should be consistent. Hence we can check this by viewing if the set of values are the same for both of them.

In [24]:
#check if the values of the two category columns in both the dataframes are equal
set(df2.Category) == set(df1.Category)

False

The values are not the same for both, hence we can view the uniqeu ones and identify the ones not correct

In [25]:
df2.Category.value_counts()

IT Jobs                             6854
Engineering Jobs                    4199
Healthcare & Nursing Jobs           3984
Finance & Accounting Jobs           2842
Hospitality & Catering Jobs         2310
Sales Jobs                          2268
Teaching Jobs                       1890
PR, Advertising & Marketing Jobs     929
Name: Category, dtype: int64

In [26]:
df1.Category.value_counts()

IT Jobs                             7085
Healthcare & Nursing Jobs           4334
Engineering Jobs                    3458
Accounting & Finance Jobs           3099
Sales Jobs                          2609
Hospitality & Catering Jobs         2124
Teaching Jobs                       1378
PR, Advertising & Marketing Jobs     990
Name: Category, dtype: int64

We can see that the `Finance & Accounting Jobs` in dataset 2 should follow the `Accounting & Finance Jobs` in dataset 1. They represent the same job category.

In [27]:
df2.loc[df2.Category=='Finance & Accounting Jobs', 'Category'] = 'Accounting & Finance Jobs'

In [28]:
df2.Category.value_counts()

IT Jobs                             6854
Engineering Jobs                    4199
Healthcare & Nursing Jobs           3984
Accounting & Finance Jobs           2842
Hospitality & Catering Jobs         2310
Sales Jobs                          2268
Teaching Jobs                       1890
PR, Advertising & Marketing Jobs     929
Name: Category, dtype: int64

In [29]:
#check if the values of the two category columns in both the dataframes are equal
set(df2.Category) == set(df1.Category)

True

## Salary per month

Just by looking at the name we can see that the salaries in dataset 2 are in months and not per annum. Hence to make it consistent the salaries will need to multiplied by 12 to convert them to salaries per annum.

In [30]:
df2['Salary per month'].describe()

count    25276.000000
mean      2935.074458
std       1315.875990
min        417.000000
25%       2000.000000
50%       2681.500000
75%       3542.000000
max       8000.000000
Name: Salary per month, dtype: float64

In [31]:
df1.columns
df1['Salary per annum'].describe()

count    25077.000000
mean     34300.677274
std      15353.481118
min       5004.000000
25%      23040.000000
50%      31200.000000
75%      42504.000000
max      96000.000000
Name: Salary per annum, dtype: float64

In [32]:
df2['Salary per month'] = df2['Salary per month'] * 12

In [33]:
df2['Salary per month'].describe()

count    25276.000000
mean     35220.893496
std      15790.511884
min       5004.000000
25%      24000.000000
50%      32178.000000
75%      42504.000000
max      96000.000000
Name: Salary per month, dtype: float64

## Open Date & Close Date

Lets view the open the close date format for dataset 2.

In [34]:
df2.OpenDate.describe()

count                   25276
unique                   2193
top       2012-04-06 12:00:00
freq                       28
Name: OpenDate, dtype: object

In [35]:
df2.OpenDate.head()

0    2012-03-01 15:00:00
1    2013-03-14 12:00:00
2    2012-02-14 12:00:00
3    2012-10-21 00:00:00
4    2012-02-22 00:00:00
Name: OpenDate, dtype: object

In [36]:
df2.CloseDate.head()

0    2012-03-31 15:00:00
1    2013-04-13 12:00:00
2    2012-03-15 12:00:00
3    2012-12-20 00:00:00
4    2012-04-22 00:00:00
Name: CloseDate, dtype: object

It seems the format for date and time storage for Open and Close date are different than in dataset 1. Hence all we have to do is change the format. This can be done with string replacement to follow the format of datset 1.

In [37]:
clean_dict={'-':'', '\s':'T', ':':''}

for key, val in clean_dict.items():
    df2.OpenDate = df2.OpenDate.str.replace(key, val)
    df2.CloseDate = df2.CloseDate.str.replace(key, val)

In [38]:
df2.CloseDate.head()

0    20120331T150000
1    20130413T120000
2    20120315T120000
3    20121220T000000
4    20120422T000000
Name: CloseDate, dtype: object

In [39]:
df2.OpenDate.head()

0    20120301T150000
1    20130314T120000
2    20120214T120000
3    20121021T000000
4    20120222T000000
Name: OpenDate, dtype: object

## Title

Since in dataset 1 the title was formated in such a way that no title included double spaces and did not include `?` hence we will have to do the same in dataset 2, if they do exist.

In [40]:
print('double or more spaces:', sum(df2.Title.str.contains('\s{2,}')))
print('?:', sum(df2.Title.str.contains('\?')))

double or more spaces: 11302
?: 57

In [41]:
df2.loc[:,'Title'] = df2.Title.apply(lambda x: re.sub(r'\?', '', x))
df2.loc[:,'Title'] = df2.Title.apply(lambda x: re.sub(r'\s{2,}', ' ', x))

In [42]:
print('double or more spaces:', sum(df2.Title.str.contains('\s{2,}')))
print('?:', sum(df2.Title.str.contains('\?')))

double or more spaces: 0
?: 0

The titles seems to be clean now.

## Location

Since we have assumed that the data is clean and there is not specific format for location hence, we let it be.

The next task is for the integration of the two datasets.

## 5. Integration

When integrating the two datasets with concatination we first have to make sure that the column places are correct for both the datasets. This is because we dont want the wrong column in dataset 2 to be merged with the wrong column in dataset 1.

In [43]:
df1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504.0,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20131025T000000,20131224T000000

In [44]:
df2.head()

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight c...,London,full-time,permanent,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",25500,20120301T150000,20120331T150000
1,69247682,icaewjobs.com,Audit Senior London,London,full-time,contract,Pro Finance,Accounting & Finance Jobs,43200,20130314T120000,20130413T120000
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Intern...,Central London,full-time,permanent,ECOM RECRUITMENT Ltd,"PR, Advertising & Marketing Jobs",23004,20120214T120000,20120315T120000
3,69247688,jobs.guardian.co.uk,Content Manager,London,full-time,permanent,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",24996,20121021T000000,20121220T000000
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,full-time,permanent,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",27504,20120222T000000,20120422T000000

The column source name in dataset 2 seems to be out of place compared to dataset 1 hence, we can just move it to the correct position.

In [45]:
#changing dataframe column order
cols = df2.columns.tolist()
cols = cols[0:1] + cols[2:9] + cols[1:2] + cols[9:]

# changing dataframe
df2 = df2[cols]

Once the columns are in place, the next task is to rename the dataset 2 columns to match the ones in datset 1.

In [46]:
#changing df2 columns to that of df1
df1_col_names = df1.columns.tolist()
df2.columns = df1_col_names

Finally lets, concatinate the dataframes on columns.

In [47]:
#concating the dataframes
df12 = pd.concat([df1,df2], ignore_index=True)

In [48]:
df12

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504.0,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20131025T000000,20131224T000000
5,19047429,Trainee Mortgage Advisor East Midlands,East Midlands,non-specified,permanent,Brite Recruitment,Accounting & Finance Jobs,21000.0,cv-library.co.uk,20120724T000000,20120922T000000
6,20199757,"PROJECT ENGINEER, PHARMACEUTICAL",Witney,non-specified,permanent,MatchBox Recruiting Ltd,Healthcare & Nursing Jobs,37500.0,cv-library.co.uk,20130328T120000,20130427T120000
7,20797143,Chef de Partie Award Winning Restaurant Excell...,Derby,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,15996.0,caterer.com,20131027T000000,20131226T000000
8,22579462,Quality Engineer,Gateshead,non-specified,permanent,Asset Appointments,Engineering Jobs,21996.0,cv-library.co.uk,20130815T000000,20130914T000000
9,22933091,Chef de Partie Award Winning Dining Live In Sh...,UK,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,18000.0,caterer.com,20120814T000000,20120828T000000
10,23528672,Senior Fatigue and Damage Tolerance Engineer,Avon,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504.0,cv-library.co.uk,20131019T120000,20131118T120000
11,23529949,C I Design Engineer,Wolverhampton,non-specified,permanent,Rullion Engineering Ltd,Engineering Jobs,33504.0,cv-library.co.uk,20121211T120000,20130110T120000
12,23530231,Lead Engineers (Stress),UK,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504.0,cv-library.co.uk,20121113T120000,20130211T120000
13,24104334,"Relief Chef de Partie Croydon, Surrey Live in",UK,non-specified,non-specified,Towngate Personnel,Hospitality & Catering Jobs,17280.0,caterer.com,20131029T000000,20131128T000000
14,24835524,Senior Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,41496.0,cv-library.co.uk,20121214T000000,20130113T000000
15,24835548,Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,31500.0,cv-library.co.uk,20120709T120000,20120808T120000
16,24854800,Electrical / ICA Engineer,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,32496.0,cv-library.co.uk,20130205T000000,20130307T000000
17,25337172,Pastry Chef for **** red star **** rosette hot...,North East England,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,24000.0,caterer.com,20130610T000000,20130809T000000
18,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,15996.0,caterer.com,20130825T000000,20130924T000000
19,25452680,"Senior Sous Chef for **** rosette kitchen, up ...",North East England,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,26004.0,caterer.com,20120101T120000,20120115T120000
20,25556432,"General Manager Funky, Cool Restaurant Concept...",East Sheen,non-specified,non-specified,Bee Recruitment London Ltd,Hospitality & Catering Jobs,31500.0,caterer.com,20130926T120000,20131026T120000
21,25892031,MICE Sales and Marketing Manager,Buckinghamshire,non-specified,non-specified,Chess Partnership,Hospitality & Catering Jobs,30000.0,caterer.com,20120825T120000,20121024T120000
22,27527047,C/C++ Developer,London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,32496.0,cv-library.co.uk,20120519T150000,20120618T150000
23,27527050,Senior PHP Developer,Central London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,45000.0,cv-library.co.uk,20120623T150000,20120822T150000
24,27527063,Senior Website Designer,York,non-specified,permanent,Indigo 21 Ltd,IT Jobs,24996.0,cv-library.co.uk,20130810T000000,20130909T000000
25,27527077,Business Development Manager,Newcastle Upon Tyne,non-specified,permanent,Asset Appointments,IT Jobs,21000.0,cv-library.co.uk,20120228T150000,20120428T150000
26,27739522,Welwyn Chef de Partie does it get any better t...,UK,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,18000.0,caterer.com,20130106T120000,20130307T120000
27,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,UK,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,18996.0,caterer.com,20120320T120000,20120403T120000
28,27754996,QA Engineer,Cambridge,non-specified,permanent,Indigo 21 Ltd,IT Jobs,30000.0,cv-library.co.uk,20130531T150000,20130730T150000
29,28059808,Documentation Engineer,Manchester,non-specified,contract,Rullion Engineering Ltd,Engineering Jobs,48000.0,cv-library.co.uk,20130818T120000,20130917T120000
...,...,...,...,...,...,...,...,...,...,...,...
50323,72697232,CAD Technician Civil ****D,Nottingham,non-specified,permanent,Hays Specialist Recruit Ltd Construction,Engineering Jobs,24996.0,justengineers.net,20120403T000000,20120503T000000
50324,72697249,Ecology Consultant,Cambridge,non-specified,permanent,Fusion People Ltd,Engineering Jobs,26496.0,justengineers.net,20120320T000000,20120519T000000
50325,72697286,Training Delivery Instructor,UK,non-specified,permanent,Minstrell Recruitment Ltd,Engineering Jobs,24996.0,justengineers.net,20131219T000000,20140319T000000
50326,72697289,Energy Sales Manager,Blackpool,non-specified,permanent,Morgan Hunt UK Ltd,Engineering Jobs,22500.0,justengineers.net,20130516T150000,20130814T150000
50327,72697334,Experienced Tree Surgeon,Poole,non-specified,permanent,R S S Ltd,Engineering Jobs,16080.0,justengineers.net,20131001T150000,20131230T150000
50328,72697363,Mechanical / Electrical Fitter,Wiltshire,non-specified,permanent,Resourcing Solutions Ltd,Engineering Jobs,11496.0,justengineers.net,20130221T150000,20130422T150000
50329,72697506,Warranty Engineer,UK,non-specified,contract,Resourcing Solutions Ltd,Engineering Jobs,24000.0,justengineers.net,20130909T000000,20130923T000000
50330,72701954,Cad TechnicianCivil,Derbyshire,non-specified,contract,non-specified,Engineering Jobs,31680.0,hays.co.uk,20131226T120000,20140109T120000
50331,72702355,Senior Operations Manager PPI,Middlesbrough,non-specified,contract,non-specified,Accounting & Finance Jobs,96000.0,hays.co.uk,20130703T120000,20130901T120000
50332,72702599,Scientific Editorial Team Leader,London,full-time,permanent,Executive Facilities,Healthcare & Nursing Jobs,50004.0,jobsinsocialwork.co.uk,20130626T150000,20130924T150000
50333,72702787,Healthcare Development Manager,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20130407T120000,20130606T120000
50334,72702792,Senior Medical Writers: Step up to Team Leader...,London,non-specified,permanent,NonStop Recruitment,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20130811T150000,20130910T150000
50335,72702793,Medical Affairs Clinical Research Physician Jo...,UK,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20120805T000000,20121004T000000
50336,72702812,Clinical Sales Specialist,UK,non-specified,permanent,New Chapter Consulting,Healthcare & Nursing Jobs,45000.0,emedcareers.com,20120729T120000,20121027T120000
50337,72702814,Medical Devices Regulatory Affairs Manager Job...,London,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,45000.0,emedcareers.com,20130703T120000,20131001T120000
50338,72702823,SAS Programmer All Levels Permanent,UK,non-specified,permanent,Skills Alliance Ltd,Healthcare & Nursing Jobs,39996.0,emedcareers.com,20130311T150000,20130510T150000
50339,72702825,Pharmaceutical Analytical Team Leader Jobs in ...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,42504.0,emedcareers.com,20130518T150000,20130717T150000
50340,72702831,Senior Quality Auditor GCP,South East England,non-specified,permanent,Real,Healthcare & Nursing Jobs,45504.0,emedcareers.com,20120306T000000,20120505T000000
50341,72702839,Territory Sales Manager: South Midlands / Card...,UK,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,41496.0,emedcareers.com,20121026T150000,20121225T150000
50342,72702840,Clinical Product Specialist: South Midlands / ...,East Midlands,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,41496.0,emedcareers.com,20121128T000000,20130226T000000
50343,72702868,Senior Med Info Officer,Essex,non-specified,permanent,Key People Ltd,Healthcare & Nursing Jobs,33996.0,emedcareers.com,20120716T150000,20120914T150000
50344,72702870,Territory Manager Orthopaedics,UK,non-specified,permanent,Ortho Executive Ltd,Healthcare & Nursing Jobs,39996.0,emedcareers.com,20120106T150000,20120405T150000
50345,72702883,Territory Manager North West,UK,non-specified,permanent,Remtec Search and Selection,Healthcare & Nursing Jobs,36000.0,emedcareers.com,20130513T000000,20130712T000000
50346,72702927,Senior Clinical Research Associate (SCRA) UK,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,30504.0,emedcareers.com,20121104T120000,20121204T120000
50347,72702933,IT Infrastructure Specialist (Mlnlycke Health ...,UK,non-specified,permanent,Molnlycke,Healthcare & Nursing Jobs,28500.0,emedcareers.com,20130731T150000,20131029T150000
50348,72702956,Pharmaceutical Analytical Chemist Jobs in Nort...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,23004.0,emedcareers.com,20130924T150000,20131024T150000
50349,72702963,Medical Sales Representative South East Essex,UK,non-specified,contract,The Vacancy Management Company,Healthcare & Nursing Jobs,22500.0,emedcareers.com,20120521T120000,20120620T120000
50350,72703193,SENIOR PROJECT MANAGER EVENT & EXHIBITION AGENCY,Hertfordshire,full-time,permanent,Live Recruitment,"PR, Advertising & Marketing Jobs",32496.0,eventjobsearch.co.uk,20131117T150000,20131217T150000
50351,72705197,Curriculum Leader Mathematics,Wrexham,non-specified,permanent,non-specified,Teaching Jobs,5004.0,hays.co.uk,20120115T120000,20120315T120000
50352,72705203,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,non-specified,contract,non-specified,Teaching Jobs,22800.0,hays.co.uk,20130427T150000,20130511T150000

Once the dataframes are concatinated, the next task is to check if there are any duplicated present in the datsets.

In [49]:
df12[df12.duplicated(subset=['Title'], keep=False)].sort_values(by='Title')

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
36595,71184275,2nd Line Support Analyst,Yorkshire and Humberside,non-specified,contract,BDSLimited,IT Jobs,16320.0,cv-library.co.uk,20130518T120000,20130717T120000
5451,66924769,2nd Line Support Analyst,Yorkshire and Humberside,non-specified,contract,BDSLimited,IT Jobs,16320.0,cv-library.co.uk,20130518T120000,20130717T120000
7349,67652839,ASPNet Developer ASPNetLiverpool ****k,UK,non-specified,permanent,CV Screen Ltd,IT Jobs,26004.0,cv-library.co.uk,20120215T120000,20120415T120000
38716,71391789,ASPNet Developer ASPNetLiverpool ****k,UK,non-specified,permanent,CV Screen Ltd,IT Jobs,26004.0,cv-library.co.uk,20120215T120000,20120415T120000
4981,66766204,ASSISTANT FINANCE MANAGER,Blackpool,non-specified,permanent,non-specified,Accounting & Finance Jobs,18144.0,jobstoday.co.uk,20120306T000000,20120604T000000
32915,70343339,ASSISTANT FINANCE MANAGER,Blackpool,non-specified,permanent,non-specified,Accounting & Finance Jobs,18144.0,jobstoday.co.uk,20120306T000000,20120604T000000
18308,68707340,AV/ VC Installation Engineer,UK,non-specified,permanent,AV IT Recruitment,IT Jobs,25500.0,totaljobs.com,20130220T150000,20130421T150000
29676,69830604,AV/ VC Installation Engineer,UK,non-specified,permanent,AV IT Recruitment,IT Jobs,25500.0,totaljobs.com,20130220T150000,20130421T150000
33011,70383474,"AX Support Consultant, Manchester, ****k bfts",Bury,non-specified,permanent,non-specified,IT Jobs,39996.0,technojobs.co.uk,20130127T150000,20130328T150000
11997,68352178,"AX Support Consultant, Manchester, ****k bfts",Bury,non-specified,permanent,non-specified,IT Jobs,39996.0,technojobs.co.uk,20130127T150000,20130328T150000
47744,72441982,Account Manager South,South East London,non-specified,non-specified,Easyvacancy,Sales Jobs,50004.0,salestarget.co.uk,20120306T150000,20120320T150000
5723,66936459,Account Manager South,South East London,non-specified,non-specified,Easyvacancy,Sales Jobs,50004.0,salestarget.co.uk,20120306T150000,20120320T150000
33223,70447666,Account Manager/Business Closer,Peterborough,full-time,permanent,The One Group,Accounting & Finance Jobs,23496.0,strike-jobs.co.uk,20120511T150000,20120610T150000
13871,68552539,Account Manager/Business Closer,Peterborough,full-time,permanent,The One Group,Accounting & Finance Jobs,23496.0,strike-jobs.co.uk,20120511T150000,20120610T150000
4564,66600448,Area Account Manager,UK,non-specified,permanent,On Target Recruitment Ltd,Sales Jobs,29004.0,cv-library.co.uk,20120502T150000,20120601T150000
31540,70140804,Area Account Manager,UK,non-specified,permanent,On Target Recruitment Ltd,Sales Jobs,29004.0,cv-library.co.uk,20120502T150000,20120601T150000
2652,64353737,Area Coordinator,Newbury,part-time,non-specified,A R Resourcing Ltd,Sales Jobs,15000.0,cv-library.co.uk,20131026T000000,20131109T000000
30019,69896092,Area Coordinator,Newbury,part-time,non-specified,A R Resourcing Ltd,Sales Jobs,15000.0,cv-library.co.uk,20131026T000000,20131109T000000
8749,68017145,"Assessor Of Mechanical, Fabrication amp; Welding",Wolverhampton,non-specified,non-specified,non-specified,Engineering Jobs,20004.0,britishjobsonthe.net,20120421T000000,20120505T000000
40946,71635563,"Assessor Of Mechanical, Fabrication amp; Welding",Wolverhampton,non-specified,non-specified,non-specified,Engineering Jobs,20004.0,britishjobsonthe.net,20120421T000000,20120505T000000
10740,68234314,Assistant Manager Carluccio's Aberdeen New Ope...,Aberdeen,non-specified,non-specified,Carluccio's,Hospitality & Catering Jobs,24996.0,caterer.com,20130928T000000,20131028T000000
27589,69621828,Assistant Manager Carluccio's Aberdeen New Ope...,Aberdeen,non-specified,non-specified,Carluccio's,Hospitality & Catering Jobs,24996.0,caterer.com,20130928T000000,20131028T000000
26295,69545085,"Assistant Manager ST ANDREWS, FIFE Restaurant ...",Fife,non-specified,non-specified,Addison Fowle Ltd,Hospitality & Catering Jobs,18996.0,caterer.com,20121203T000000,20121217T000000
7811,67773568,"Assistant Manager ST ANDREWS, FIFE Restaurant ...",Fife,non-specified,non-specified,Addison Fowle Ltd,Hospitality & Catering Jobs,18996.0,caterer.com,20121203T000000,20121217T000000
14406,68591808,Assistant ManagerNew Restaurant Opening Isling...,North Lambeth,non-specified,non-specified,itk Recruitment,Hospitality & Catering Jobs,27996.0,caterer.com,20130516T000000,20130530T000000
45350,72161309,Assistant ManagerNew Restaurant Opening Isling...,North Lambeth,non-specified,non-specified,itk Recruitment,Hospitality & Catering Jobs,27996.0,caterer.com,20130516T000000,20130530T000000
16272,68682135,Broker Support Technician Energy,London,non-specified,permanent,Robert Half London City,Accounting & Finance Jobs,35004.0,totaljobs.com,20130814T120000,20130913T120000
35025,70760908,Broker Support Technician Energy,London,non-specified,permanent,Robert Half London City,Accounting & Finance Jobs,35004.0,totaljobs.com,20130814T120000,20130913T120000
5847,66969134,"Business Analyst, Siebel Functional Consultant...",Central London,non-specified,contract,Haybrook IT Resourcing Ltd,IT Jobs,61800.0,jobsite.co.uk,20120627T000000,20120826T000000
30835,69994602,"Business Analyst, Siebel Functional Consultant...",Central London,non-specified,contract,Haybrook IT Resourcing Ltd,IT Jobs,61800.0,jobsite.co.uk,20120627T000000,20120826T000000
...,...,...,...,...,...,...,...,...,...,...,...
35628,70781894,Theatre Practitioners / ODP's private hospital...,Preston,full-time,non-specified,PULSE,Healthcare & Nursing Jobs,27504.0,staffnurse.com,20130620T150000,20130819T150000
11389,68302260,Theatre Practitioners / ODP's private hospital...,Preston,full-time,non-specified,PULSE,Healthcare & Nursing Jobs,27504.0,staffnurse.com,20130620T150000,20130819T150000
25169,69249686,Trading Administrator,Harrow,full-time,permanent,CVbrowser,IT Jobs,18996.0,cvbrowser.com,20120710T150000,20120809T150000
15120,68637468,Trading Administrator,Harrow,full-time,permanent,CVbrowser,IT Jobs,18996.0,cvbrowser.com,20120710T150000,20120809T150000
29816,69865809,UNIX Analyst,Hampshire,non-specified,permanent,Sanderson Government & Defence,IT Jobs,45000.0,jobserve.com,20120226T120000,20120327T120000
14601,68626892,UNIX Analyst,Hampshire,non-specified,permanent,Sanderson Government & Defence,IT Jobs,45000.0,jobserve.com,20120226T120000,20120327T120000
39605,71476106,Underwriter,Croydon,non-specified,permanent,Lawes Insurance Recruitment,Accounting & Finance Jobs,30000.0,insurancejobs.co.uk,20130222T000000,20130523T000000
7844,67779540,Underwriter,Croydon,non-specified,permanent,Lawes Insurance Recruitment,Accounting & Finance Jobs,30000.0,insurancejobs.co.uk,20130222T000000,20130523T000000
28920,69747532,VBNET Application Developer ESSEX/ SOUTHENDONSEA,Southend-On-Sea,non-specified,permanent,Reed Technology Docklands Gov,IT Jobs,40500.0,jobsite.co.uk,20120208T000000,20120408T000000
8490,67947957,VBNET Application Developer ESSEX/ SOUTHENDONSEA,Southend-On-Sea,non-specified,permanent,Reed Technology Docklands Gov,IT Jobs,40500.0,jobsite.co.uk,20120208T000000,20120408T000000
14196,68572426,Vehicle Technician / Mechanic Norwich,Norwich,full-time,permanent,UKStaffsearch,Engineering Jobs,20004.0,ukstaffsearch.com,20121017T000000,20121116T000000
47577,72439845,Vehicle Technician / Mechanic Norwich,Norwich,full-time,permanent,UKStaffsearch,Engineering Jobs,20004.0,ukstaffsearch.com,20121017T000000,20121116T000000
21396,69007567,Vocational Coach Hospitality,Oxfordshire,non-specified,permanent,Fusion People Ltd,Teaching Jobs,19392.0,cv-library.co.uk,20120422T150000,20120621T150000
44397,71907207,Vocational Coach Hospitality,Oxfordshire,non-specified,permanent,Fusion People Ltd,Teaching Jobs,19392.0,cv-library.co.uk,20120422T150000,20120621T150000
27716,69639018,Wealth Financial Advisor,Stevenage,full-time,permanent,UKStaffsearch,Accounting & Finance Jobs,60000.0,ukstaffsearch.com,20130505T120000,20130704T120000
14244,68574702,Wealth Financial Advisor,Stevenage,full-time,permanent,UKStaffsearch,Accounting & Finance Jobs,60000.0,ukstaffsearch.com,20130505T120000,20130704T120000
42970,71809141,"Web Developer (JavaScript, HTML, CSS) High Wyc...",High Wycombe,non-specified,permanent,non-specified,IT Jobs,31500.0,theitjobboard.co.uk,20121110T150000,20130208T150000
7910,67802984,"Web Developer (JavaScript, HTML, CSS) High Wyc...",High Wycombe,non-specified,permanent,non-specified,IT Jobs,31500.0,theitjobboard.co.uk,20121110T150000,20130208T150000
12798,68375576,Web Developer ASPNet / C / XHTML / CSS / MVC L...,Leeds,non-specified,permanent,Senitor Associates Ltd,IT Jobs,26004.0,jobsite.co.uk,20130109T150000,20130409T150000
40328,71593512,Web Developer ASPNet / C / XHTML / CSS / MVC L...,Leeds,non-specified,permanent,Senitor Associates Ltd,IT Jobs,26004.0,jobsite.co.uk,20130109T150000,20130409T150000
30974,69997619,"Web Development Manager (NET), to ****K",South East London,non-specified,permanent,Progression Recruitment,IT Jobs,80004.0,cwjobs.co.uk,20120518T120000,20120816T120000
22308,69037321,"Web Development Manager (NET), to ****K",South East London,non-specified,permanent,Progression Recruitment,IT Jobs,80004.0,cwjobs.co.uk,20120518T120000,20120816T120000
5125,66887305,Wider Market Account Executive Insurance,Uckfield,non-specified,permanent,Office Angels,Accounting & Finance Jobs,27504.0,cv-library.co.uk,20131130T000000,20131230T000000
32485,70255629,Wider Market Account Executive Insurance,Uckfield,non-specified,permanent,Office Angels,Accounting & Finance Jobs,27504.0,cv-library.co.uk,20131130T000000,20131230T000000
21283,69006477,Year **** Class Teacher Urgently Required for ...,West End,non-specified,contract,Academics Ltd,Teaching Jobs,32400.0,cv-library.co.uk,20121009T150000,20121208T150000
26605,69559108,Year **** Class Teacher Urgently Required for ...,West End,non-specified,contract,Academics Ltd,Teaching Jobs,32400.0,cv-library.co.uk,20121009T150000,20121208T150000
38964,71430987,ecm / document management software sales surre...,Hampshire,full-time,permanent,Go Partnership,IT Jobs,35004.0,planetrecruit.com,20120605T000000,20120804T000000
1460,55410137,ecm / document management software sales surre...,Hampshire,full-time,permanent,Go Partnership,IT Jobs,35004.0,planetrecruit.com,20120605T000000,20120804T000000
30449,69966719,"store manager, Clapham ****k pa",East Sheen,non-specified,non-specified,Starbucks Coffee Company UK Ltd,Hospitality & Catering Jobs,27000.0,caterer.com,20130617T150000,20130701T150000
7777,67772898,"store manager, Clapham ****k pa",East Sheen,non-specified,non-specified,Starbucks Coffee Company UK Ltd,Hospitality & Catering Jobs,27000.0,caterer.com,20130617T150000,20130701T150000

## 6. Remove duplicates

now lets try to remove duplicates. But when doing so we first need to identify a primary key or a key as to which we can define duplicatates. A key would be such that it is the shortest mixture of variables (maybe even only one) to identify a unique and distinct job from another in the dataset. 

- We know that the title is unique. However according to me the title cannot be a good key for such a database. This database consists of only jobs for about a couple of years. with time there might be a job with the same title in future which would not be the same as the one which was posted multiple years ago with the same title. Each job posting is dictinct. 
    - For example. An analyst position is open today. 10 years later that analyst is fired and the same company with the same location, category etc. posts the vacancy for the job for the same title. Hence the title would not remain the primary key to distinguish between the two similar jobs even though they are 10 years apart. 
- The id is unique howeve;r, the ID is a surragate key and does not itself represent different jobs. The datasets may be from different databases and even though they are both 8 digits long with integers the function that creates them may be different. Hence even though the ids are different in the different datasets the jobs might be the same. 
- Hence the key should be such that each job is different. In my opinion there should be a composite key (a key with a mixtrue of attributes). In my opinion to identify a unique and distinct job it should have the following variables in the key:
    - Title: title should be the same if it s the same job.
    - Location: the same title can be used for differnt branches of the company hence to distinguish between them location is included
    - ContractType: The type of the contract. 2 business analyst might be getting hired by the company however, one can be partime, and second full time, even though the location and title are the same.
    - ContractTime: Same exampel as contract type but the timings can be different one might be permanetn other might be contract
    - Company: The company needs to be the same for the job to be the same. 2 companies can hire business analysts full time permanent but they are different jobs.
    - Category: The cateory of the job should be the same. For example an analyst could be in the Finacne cateogry or some other. 
    - Salary per annum: The salary posted for the job needs to be the same for it to be considered a correct job.
    - OpenDate: The time for the job should match. The same job may be posted in the future if the vacancy occurs
    - CloseDate: Closing data is important as two positions might be open but one might need to be hired before the other. 
    - Source name: Depends, but in this case will be included. 
    
The source name may or may not be included as a company might post for the job themselves or might also give details to an agency to post aswell. However it depends, if the database is only to keep one row for each job the source name should not be included however if the database wants to store all the job postings and considers them different then source name should be included in the key. 


In this case, we consider the jobs posted by differnt sources as different. Choosing the key is always a task that is discussed with the client and decided based on the business rules. However since, the client is not present, it is alwasy best to be on teh safe side. As once the primary key is thought of the integrity constraints set in the incase the key needs to be changed in the future it causes alot of issues due to schema change of the database as well as the dashboards, or apps connected to the database that use that key to obtain data from the database. 

Hence lets see what the chances of the duplicates are for id, Title and with the above composite key mentioned.

In [50]:
#only id
title_cls =['Id']
sum(df12.duplicated(subset=title_cls))

0

In [51]:
#only title
title_cls =['Title']
sum(df12.duplicated(subset=title_cls))

200

In [52]:
#all#composite pk
all_cls =['Location','Category', 'Salary per annum', 'SourceName', 'OpenDate', 'CloseDate','ContractTime', 'Company', 'Title', 'ContractType']
sum(df12.duplicated(subset=all_cls))

200

It seems that the count of duplicates with the title or with the other total composite keys seem to be the same. However we will still remove the duplicates based on the composite primary key. But before we do so lets see if the 400 duplicates for both are the same duplicates or different ones.

In [53]:
#creating set of ids for title duplicates as well as duplicates for all attributes
id_title_set = set(df12.loc[df12.duplicated(subset=title_cls, keep=False),'Id'].tolist())
id_all_set = set(df12.loc[df12.duplicated(subset=all_cls, keep=False),'Id'].tolist())

#checking whethere there are values in the set atre not common in both of them 
id_title_set ^ id_all_set

set()

We can see that the two keys represnt the same dataset duplicates, hence lets remove the duplicates.

In [54]:
len(df12)

50353

In [55]:
merged_df = df12.drop_duplicates(subset=all_cls)

In [56]:
len(merged_df)

50153

Hence in the final dataset we can wee there are 200 less rows after removing duplicates. 

Finally lets try to see if the count would have changed if the titles were all in lowercase.

In [57]:
#checking if the duplicated amount would have changed if the titles were all in lowercase
test_1 = df1[['Title']].apply(lambda x: x.str.lower())
test_2 = df2[['Title']].apply(lambda x: x.str.lower())

#checking the lower case titles for duplicates
a = pd.concat([test_1, test_2])
sum(a.duplicated())

200

The count would have been the same. Hence lets write back the merged dataset.

## 7. Writing back clean dataset

In [58]:
merged_df.to_csv('dataset1_dataset2_solution.csv')

## 8. Summary

Data format checking seemed an easier task than cleaning since both the datasets had the same general columns with differnt variable formats. Hence only understanding how the variables were formated compared to the previous dataset was important. 

Paying attendtion to what each column represented was very important aswell, for example salary was provided in monthly terms in the second dataset while yearly terms in the first one. Withouth proper column names (which it had) this wouldve been difficult to identify as there was no meta data given. 

Lasting trying to figure out what the primary key would be to identify duplicates was important as well as that is the most integral part when combingin datasets. Differnt selection of keys provides differnt number of duplicates and hence good care needs to be taken in selecting a suitable key before removing duplicates.